<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <BackgroundSprite>
    <textures>
      <texture>MainMenu\backgroundMenu00</texture>
    </textures>
    <Delay>16</Delay>
    <x>0</x>
    <y>0</y>
    <heigh>450 </heigh>
    <width>620</width>
  </BackgroundSprite>
  <TitleSprite>
    <textures>
      <texture>MainMenu\Title00</texture>
      <texture>MainMenu\Title01</texture>
      <texture>MainMenu\Title02</texture>
    </textures>
    <Delay>64</Delay>
    <x>125</x>
    <y>50</y>
  </TitleSprite>
  <Buttons>
    <Button>
      <x>150</x>
      <y>250</y>
      <width>320</width>
      <heigh>52</heigh>
      <textures>
        <texture>MainMenu\MenuTitle100</texture>
        <texture>MainMenu\MenuTitle101</texture>
        <texture>MainMenu\MenuTitle102</texture>
      </textures>
      <Delay>100</Delay>
    </Button>
    <Button>
      <x>150</x>
      <y>300</y>
      <width>320</width>
      <heigh>52</heigh>
      <textures>
        <texture>MainMenu\MenuTitle200</texture>
        <texture>MainMenu\MenuTitle201</texture>
        <texture>MainMenu\MenuTitle202</texture>
      </textures>
      <Delay>100</Delay>
    </Button>
    <Button>
      <x>150</x>
      <y>350</y>
      <width>320</width>
      <heigh>52</heigh>
      <textures>
        <texture>MainMenu\MenuTitle300</texture>
        <texture>MainMenu\MenuTitle301</texture>
        <texture>MainMenu\MenuTitle302</texture>
      </textures>
      <Delay>100</Delay>
    </Button>
    <Button>
      <x>150</x>
      <y>400</y>
      <width>320</width>
      <heigh>52</heigh>
      <textures>
        <texture>MainMenu\MenuTitle400</texture>
        <texture>MainMenu\MenuTitle401</texture>
        <texture>MainMenu\MenuTitle402</texture>
      </textures>
      <Delay>100</Delay>
    </Button>
  </Buttons>
</menu>
